.services-container {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.service-description {
    text-align: left;
}

.services-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.services-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.services-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.services-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.services-icons a:active,.services-icons a:focus,.services-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.services-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.services-icons a.checking:hover
{
  background-color:#01471e
}
.services-icons a.credit-card:hover
{
  background-color:#01471e
}
.services-icons a.loan:hover
{
  background-color:#01471e
}
@media (max-width:767px)
{
  .services-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}